[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
psycopg2-binary = "*"
django = "*"
bs4 = "*"
pandas = "*"
nltk = "*"
django-bootstrap4 = "*"
wordcloud = "*"
matplotlib = "*"
paramiko = "*"
django-json-response = "*"
plotly = "*"
plotly-geo = "*"
geopandas = "*"

[requires]
python_version = "3.8"
