{% extends 'root.html' %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{# Cargamos la librería #}
{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}
{% load static %}


{% block content %}
<div class="container">
  <h2>RETO A</h2>
  <p>¿Qué tanto se afecta el precio del viaje por cuenta de las congestiones de tráfico en horas pico? ¿Hay diferencias entre las zonas de la ciudad?</p></br>
<table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Hora pico</th>
          <th>Precio pico</th>
          <th>Precio promedio</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <td>Bronx</td>
          <td></td>
          <td></td>
          <td></td>          
          </tr>
          <tr>
          <td>Brooklyn</td>
          <td> 
               {% if datos.2.0 %}
                    {{ datos.2.0 }}:00
               {% else %}
                    N/A
               {% endif %}
          </td>
          <td> 
               {% if datos.2.1 %}
                    {{ datos.2.1 }}
               {% else %}
                    N/A
               {% endif %}
          </td>
                    <td> 
               {% if datos.2.2 %}
                    {{ datos.2.2 }}
               {% else %}
                    N/A
               {% endif %}
          </td>
          </tr>
          <tr>
          <td>EWR</td>
          <td></td>
          <td></td>
          <td></td>          
          </tr>
          <tr>
          <td>Manhattan</td>
          <td> 
               {% if datos.4.0 %}
                    {{ datos.4.0 }}:00
               {% else %}
                    N/A
               {% endif %}
          </td>
                    <td> 
               {% if datos.4.1 %}
                    {{ datos.4.1 }}
               {% else %}
                    N/A
               {% endif %}
          </td>
                    <td> 
               {% if datos.4.2 %}
                    {{ datos.4.2 }}
               {% else %}
                    N/A
               {% endif %}
          </td>
          </tr>
          <tr>
          <td>Queens</td>
          <td></td>
          <td></td>
          <td></td>          
          </tr>
          <tr>
          <td>Staten Island</td>
          <td></td>
          <td></td>
          <td></td>          
          </tr>
          <tr>
          <td>Desconocido</td>
          <td></td>
          <td></td>
          <td></td>          
          </tr>
      </tbody>
    </table>
     {% if imagen %}
          <div style="width:600;height:500">
               {{ imagen|safe }}
          </div>
     {% endif %}
     <div style="text-align: right;">
          <h4>Integrantes</h4>
          <p style="margin-bottom: 0px;">d.ocampo</p>
          <p style="margin-bottom: 0px;">j.cardenasc</p>
          <p style="margin-bottom: 0px;">c.martinezb1</p>
     </div>
</div>
{% endblock %}
{% bootstrap_javascript jquery='full' %}