{% extends 'root.html' %}
{% load template_filters %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{# Cargamos la librería #}
{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}
{% load static %}


{% block content %}
<div class="container">
  <h2>RETO 3</h2>
  <p>Encuentre los N sitios donde hay mayor demanda de viajes en cierta franja horaria y día de la semana. Muestre esos datos discriminados para cada uno de los meses que se encuentran en el dataset. Permita que la franja horaria y N se pueda cambiar por parte del usuario.</p></br>

  <p></p></br>
<table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Enero</th>
          <th>Febrero</th>
          <th>Marzo</th>
          <th>Abril</th>
          <th>Mayo</th>
          <th>Junio</th>
          <th>Julio</th>
          <th>Agosto</th>
          <th>Septiembre</th>
          <th>Octubre</th>
          <th>Noviembre</th>
          <th>Diciembre</th>
        </tr>
      </thead>
      <tbody>
          {% for lugar, valores in datos.items %}
          <tr>
               <td>{{ lugar }}</td>
               {% if valores|get_item:1 %} <td>{{ valores|get_item:1 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:2 %} <td>{{ valores|get_item:2 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:3 %} <td>{{ valores|get_item:3 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:4 %} <td>{{ valores|get_item:4 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:5 %} <td>{{ valores|get_item:5 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:6 %} <td>{{ valores|get_item:6 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:7 %} <td>{{ valores|get_item:7 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:8 %} <td>{{ valores|get_item:8 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:9 %} <td>{{ valores|get_item:9 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:10 %} <td>{{ valores|get_item:10 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:11 %} <td>{{ valores|get_item:11 }}</td> {% else %} <td></td> {% endif %}
               {% if valores|get_item:12 %} <td>{{ valores|get_item:12 }}</td> {% else %} <td></td> {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>

     {% if imagen %}
          <div style="width:600;height:500">
               {{ imagen|safe }}
          </div>
     {% endif %}
</div>
{% endblock %}
{% bootstrap_javascript jquery='full' %}