{% extends 'root.html' %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
{% block content %}
<div class="container">
<h2 >RETO 2</h2>
<p>Encuentre cuál es el valor mínimo, máximo y promedio de un viaje, para los viajes realizados cierto día de la semana, en un mes dado del año, sobre todos los años del dataset (por ejemplo, analizar los viernes de febrero de todos los años). Su resultado debe desagregar por tipo de vehículo (Yellow, Green, FHV…) y también dar la totalidad de los vehículos. Los parámetros de la consulta son dados por el usuario.</p></br>
<p>Por favor seleccione el día y mes que desea consultar<p>
    <div class="container mb-4">
        <form id="conteo_form" method="POST">
            <div class="row mt-3">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        {% csrf_token %}
                        <div>
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}