<html>

<head>
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}



    <title>Contador de palabras</title>
</head>

<body>
    <form id="conteo_form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Contar Palabras</button>
    </form>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h4{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
            {% endfor %}
    </ul>
    {% endif %}
</body>

</html>