{% extends 'root.html' %}
<html>

<head>
    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}



    <title>Contador de palabras</title>
</head>

<body>
    
    <!--
    {% for keys, values in frecuencia_palabras %}
        <li>{{ keys }}: {{ values }}</li>
    {% endfor %}
    -->
    <div class='section'>
        <div align='center' class='flex column plot mt15 mlr15 justify-left align-left'>
            <br><br><br>
            <h5>Esta es la nube de las palabras en el archivo seleccionado</h5>
            <img src='data:image/png;base64,{{ imag_uri|safe }}' style="width: 80rem;"/>
        </div>
    </div>

</body>

</html>